{% extends "::base.html.twig" %}
{% block body %}
<h1>Product creation</h1>

<form action="{{ path('product_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit">Create</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('product') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="#" class="jslink">
            Add a tag
        </a>
    </li>
</ul>
{% include "KhepinProductBundle:Product:js.html.twig" %}
{% endblock %}
