{% extends "::base.html.twig" %}
{% block body %}
<h1>Product creation</h1>

<form action="{{ path('product_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit">Create</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('product') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="#" class="jslink">
            Add a tag
        </a>
    </li>
</ul>
<script>
    function add() {
        var collectionHolder = $('#khepin_productbundle_producttype_tags');
        var prototype = collectionHolder.attr('data-prototype');
        form = prototype.replace(/\$\$name\$\$/g, collectionHolder.children().length);
        collectionHolder.append(form);
    }
    
    $('a.jslink').live('click', function(event){
        event.preventDefault();
        add();
    });
</script>
{% endblock %}
